@model IEnumerable<Shop.Application.Cart.GetCart.Response>

@{

}


<div>
    @*<p class="title">Cart</p>
    @foreach (var product in Model)
    {
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    <img src="@product.Images[0]" />
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p class="title">@product.Name</p>
                    <div class="level">
                        <div class="level-item">Qty: @product.Qty</div>
                        <div class="level-item">Size: @product.StockId</div>
                        <div class="level-item">Price: @product.Value</div>
                    </div>
                </div>
            </div>
        </article>
    }*@

    <div class="level m-0 p-4 border-bottom">
        <div class="level-left">
            <p><strong>Product</strong></p>
        </div>
        <div class="level-right">
            <p><strong>Total</strong></p>
        </div>
    </div>
    @foreach (var product in Model)
    {
        var totalValue = product.RealValue * product.Qty;

        <div class="level m-0 p-4 border-bottom">
            <div class="level-left">
                <p>@product.Name x @product.Qty</p>
            </div>
            <div class="level-right">
                <p>$@totalValue</p>
            </div>
        </div>
    }
    @{ 
        var total = Model.Sum(x => x.RealValue * x.Qty);
    }

    <div class="level m-0 p-4">
        <div class="level-left">
            <p><strong>Order Total</strong></p>
        </div>
        <div class="level-right">
            <p><strong>$@total</strong></p>
        </div>
    </div>

</div>