@page "{slug}"
@model Shop.UI.Pages.ProductModel
@{
}

<section class="section">
    <div class="container">
        <div class="columns is-justify-content-space-between">
            <div class="column is-6">
                <figure class="image is-fluid">
                    <img src="@Model.Product.Images[0]" alt="">
                </figure>
            </div>
            <div class="column is-6">
                <section class="content">
                    <p class="title">@Model.Product.Name</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vitae, explicabo? Incidunt facere, natus soluta dolores iusto! Molestiae expedita veritatis nesciunt doloremque sint asperiores fuga voluptas, distinctio, aperiam, ratione dolore.</p>
                    <p>Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum hic magni iste, velit aperiam quis.</p>
                    <p><strong class="subtitle has-text-link">@Model.Product.Value</strong></p>

                    <footer>
                        <form method="post">
                            <div class="field has-addons">
                                <div class="field-label is-normal">
                                    <label class="label">Type</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select asp-for="CartViewModel.StockId" onchange="toggleStock(event)">
                                                    @foreach (var s in Model.Product.Stock)
                                                    {
                                                        bool disabled = s.Qty <= 0;

                                                        <option value="@s.Id" disabled="@disabled">@s.Description</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Qty</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <div class="control">
                                            <input class="input" asp-for="CartViewModel.Qty" type="number" value="1" />
                                        </div>
                                        @foreach (var stock in Model.Product.Stock)
                                        {
                                            if (stock.Qty <= 10)
                                            {
                                                <p class="help is-danger is-hidden low-stock" id="low-stock-@stock.Id">
                                                    @(stock.Qty == 0 ? "Out Stock" : $"{stock.Qty} Left")
                                                </p>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <div class="control">
                                            <button class="button is-link is-uppercase" type="submit">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </footer>
                </section>

            </div>
        </div>
    </div>
</section>

<script>

    var showLowStock = function (id) {
        var stockToShow = document.getElementById('low-stock-' + id);

        if (stockToShow !== null && stockToShow !== undefined)
            stockToShow.classList.remove('is-hidden');
    };

    var toggleStock = function (e) {
        console.log(e);

        var stockToHide = document.querySelectorAll('.low-stock');

        stockToHide.forEach(function (e) {
            e.classList.add('is-hidden');
        });

        showLowStock(e.target.value);
    };

    showLowStock(document.getElementById('CartViewModel_StockId').value);

</script>


@*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">

    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-6">
                        <section class="section">
                            <div class="container" style="overflow:hidden">
                                <div id="carousel-demo" class="carousel">

                                    @foreach (var image in Model.Product.Images)
                                    {
                                        <div class="carousel-item">
                                            <figure class="image is-square">
                                                <img src="@image" alt="">
                                            </figure>
                                        </div>
                                    }
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="column is-6">
                        <section class="content">
                            <p class="title">@Model.Product.Name</p>
                            <p class="subtitle">@Model.Product.Description</p>
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                            </p>
                            <footer>
                                <form method="post">

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Size</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field is-narrow">
                                                <div class="control">
                                                    <div class="select is-fullwidth">
                                                        <select asp-for="CartViewModel.StockId" onchange="toggleStock(event)">
                                                            @foreach (var s in Model.Product.Stock)
                                                            {
                                                                bool disabled = s.Qty <= 0;

                                                                <option value="@s.Id" disabled="@disabled">@s.Description</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Qty</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field is-narrow">
                                                <div class="control">
                                                    <input class="input" asp-for="CartViewModel.Qty" type="number" value="1" />
                                                </div>
                                                @foreach (var stock in Model.Product.Stock)
                                                {
                                                    if (stock.Qty <= 10)
                                                    {
                                                        <p class="help is-danger is-hidden low-stock" id="low-stock-@stock.Id">
                                                            @(stock.Qty == 0 ? "Out Stock" : $"{stock.Qty} Left")
                                                        </p>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                        </div>
                                        <div class="field-body">
                                            <div class="field is-narrow">
                                                <div class="control">
                                                    <button class="button is-success" type="submit">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </footer>
                        </section>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
    <script>
        bulmaCarousel.attach('#carousel-demo', {
            slidesToScroll: 1,
            slidesToShow: 1,
            loop: true,
        });

        var showLowStock = function (id) {
            var stockToShow = document.getElementById('low-stock-' + id);

            if (stockToShow !== null && stockToShow !== undefined)
                stockToShow.classList.remove('is-hidden');
        };

        var toggleStock = function (e) {
            console.log(e);

            var stockToHide = document.querySelectorAll('.low-stock');

            stockToHide.forEach(function (e) {
                e.classList.add('is-hidden');
            });

            showLowStock(e.target.value);
        };

        showLowStock(document.getElementById('CartViewModel_StockId').value);

    </script>*@
