@page
@model Shop.UI.Pages.ShopModel
@{
    ViewData["Title"] = "Home page";
}


<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="box p-4">
                    <h2 class="mb-3 is-uppercase">Categories</h2>
                    <ul>
                        <li class="mb-1"><a href="?c=acoustic">Acoustic</a></li>
                        <li class="mb-1"><a href="?c=electric">Electric</a></li>
                        <li class="mb-1"><a href="?c=bass">Bass</a></li>
                    </ul>
                </div>

                <div class="box p-4">
                    <div class="mb-4">
                        <h2 class="mb-3 is-uppercase">Filter by price</h2>

                        <div class="is-flex">
                            <input class="input" type="number" placeholder="From">
                            <input class="input" type="number" placeholder="To">
                        </div>
                    </div>
                    <div class="mb-4">
                        <h2 class="mb-3 is-uppercase">Size</h2>
                        <ul>
                            <li>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Small
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Medium
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Large
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="column is-9">
                <div class="columns is-multiline">
                    
                    @foreach (var product in Model.Products)
                    {
                    <div class="column is-4-desktop is-6-tablet">
                        <div class="card in-stock">
                            <div class="card-image">
                                <a asp-page="Product" asp-route-slug="@product.Slug">

                                    @if (product.Images.Count == 1)
                                    {
                                        <figure class="image is-square">
                                            <img src="@product.Images[0]" alt="">
                                        </figure>
                                    }
                                    else
                                    {
                                        <figure class="image front is-square">
                                            <img src="@product.Images[0]" alt="">
                                        </figure>
                                        <figure class="image back is-square">
                                            <img src="@product.Images[1]" alt="">
                                        </figure>
                                    }
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="content has-text-centered">
                                    <h4 class="mb-1"><a asp-page="Product" asp-route-slug="@product.Slug">@product.Name</a></h4>
                                    @*<p class="mb-1">@product.Description</p>*@
                                    <p class="mb-1">Finding perfect guitar</p>
                                    <p><strong>@product.Value</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    
                </div>

                <nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        @{
                            List<int> pages = new List<int>();

                            int startPage = Math.Max(Model.PageNumber - 2, 1);
                            int endPage = Math.Min(Model.PageNumber + 2, Model.PageCount);

                            if (startPage != 1)
                                pages.Add(1);
                            if (startPage > 2)
                                pages.Add(-1);

                            for (int i = startPage; i <= endPage; i++)
                            {
                                pages.Add(i);
                            }

                            if (Model.PageCount - endPage > 1)
                                pages.Add(-1);
                            if (endPage != Model.PageCount)
                                pages.Add(Model.PageCount);
                        }

                        @if (Model.PageNumber == 1)
                        {
                            <li><a class="pagination-link" asp-route-p="@(Model.PageNumber - 1)" disabled>&lt</a></li>
                        }
                        else
                        {
                            <li><a class="pagination-link" asp-route-p="@(Model.PageNumber - 1)">&lt</a></li>
                        }

                        @foreach (var page in pages)
                        {
                            string activeClass = page == Model.PageNumber ? "is-current" : "";

                            if (page == -1)
                            {
                                <li><span class="pagination-ellipsis">&hellip;</span></li>
                            }
                            else
                            {
                                <li><a class="pagination-link @activeClass" asp-route-p="@(page)">@(page)</a></li>
                            }
                        }

                        @if (Model.PageNumber == Model.PageCount)
                        {
                            <li><a class="pagination-link" asp-route-p="@(Model.PageNumber + 1)" disabled>></a></li>

                        }
                        else
                        {
                            <li><a class="pagination-link" asp-route-p="@(Model.PageNumber + 1)">></a></li>
                        }

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>